<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="background-color:black;color:white">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#myDiv">Graphical Representation</a></li>
                <li><a href="#part2">Session Overview</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4> Most Recent Records </h4>
            <div *ngFor="let recentDemo of demos">
                <p><a [routerLink]="['/detail', recentDemo.id]">{{recentDemo.firstName}}</a></p>
            </div>
            <div class="images">
                <div class="logos">
                    <img src="images/logo1.png" alt="Curling Canada Logo" style="width:100px;height:50px;">
                </div>
                <div class="logos">
                    <img src="images/dal_logo.gif" alt="Dal Logo" style="width:100px;height:50px;">
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-left">
            <h1>Brushing Session Results Overview</h1>

            <!-- Attributes of the Session. Not sure which attributes we are usuing so added all of the most likely ones/-->
            <div *ngIf="demo" class="answer_list">

                <h3> Review of the Brushing Session</h3>
                <label>ID: </label>
                {{demo.id}}
                <br>

                <label>First Name: </label>
                {{demo.firstName}}
                <br>

                <label>Last Name: </label>
                {{demo.lastName}}
                <br>

                <label>Time Stamp: </label>
                {{demo.timestamp}}
                <br>

                <label>Email: </label>
                {{demo.email}}
                <br>

                <label>Notes: </label>
                {{demo.notes}}
                <br>

                <label>Broom Angle: </label>
                {{demo.processedData && demo.processedData[0]?.broomAngle}} degrees
                <br>

                <label>Mean Max Force: </label>
                {{demo.meanMaximumForce}}
                <br>

                <label> Mean Sustained Force: </label>
                {{demo.meanSustainedForce}}
                <br>

                <label> Mean Brushing Force: </label>
                {{demo.meanBrushingForce}}
                <br>

                <label> Mean Stroke Rate: </label>
                {{demo.meanStrokeRate}}
                <br>
            </div>
        </div>
    </div>
</div>
