<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="/Users/Aisha/devEnviroment/web/src/app/demo-detail/images/favicon.jpg" type="image/gif" sizes="100x100">
<title> Brushing Session Results Overview</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Links to css and js files-->
<link rel="demo-detail.component.css" type="text/css" href="demo-detail.component.css">
<script src="demo-detail.component.js"></script>

<!--W3Schools Libraries -->
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--Search and reset button functionality. Will export to js file later-->
<script>
	function ShowDiv() {
    document.getElementById("myDiv").style.display = "";
}
	function reset(inputName){
	 document.getElementById("myDiv").style.display = "none";
	 inputName.value="";
}
 </script>


<!--styles-->
 <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
     margin-bottom: 0;
     border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content { 
      height:625px;
      overflow:auto;
     }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      min-height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      bottom:0;
      width:100%;
      position: absolute;
      height:60px;

    }
    .logos{
      padding: 20px;
      bottom: 0;
    }

    .images{
      padding-top: 45px;

    }
    
  </style>

</head>
<body>

	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      		  		<span class="icon-bar"></span>                        
     			 </button>
      			<a class="navbar-brand" href="#">Logo</a>
   			 </div>
   		 	<div class="collapse navbar-collapse" id="myNavbar">
      			<ul class="nav navbar-nav">
        			<li class="active"><a href="#">Home</a></li>
        			<li><a href="#">Graph</a></li>
        			<li><a href="#">Session Overview</a></li>
        			<li><a href="#">Compare</a></li>
      			</ul>
      			<ul class="nav navbar-nav navbar-right">
       				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      			</ul>
    		</div>
  		</div>
	</nav>

	<div class="container-fluid text-center">    
  		<div class="row content">
    		<div class="col-sm-2 sidenav">
      			<p><a href="#">Graph1</a></p>
      			<p><a href="#">Graph2</a></p>
      			<p><a href="#">Graph3</a></p>
    		</div>
    		<div class="col-sm-8 text-left"> 
          <h1>Brushing Session Results Overview</h1>
            <div id="searchBar">
						<label>Name: </label>
	    				<input id = "inputName"[(ngModel)]="demo.firstName" placeholder="name"/>
	    				<button onclick="ShowDiv()"> Search </button>
	          </div>

						<!-- Attributes of the Session. Not sure which attributes we are usuing so added all of the most likely ones/-->
	 					<div id="myDiv" style="display:none;" class="answer_list">
	 	
	 		        <h3> Review of the Brushing Session</h3>
	  	        <label>ID: </label>
	  	        {{demo.id}}
	            <br>
	 
	  	        <label>Session ID: </label>
	  	        {{demo.sessionId}}
	             <br>

	  	        <label>First Name: </label>
	  	        {{demo.firstName}}
	           <br>

	  	        <label>Last Name: </label>
	  	        {{demo.lastName}}
	             <br>

	  	        <label>Time Stamp: </label>
	  	        {{demo.timeStamp}}
	             <br>

	  	        <label>Email: </label>
	  	        {{demo.email}}
	           <br>
	  	
              <label>Notes: </label>
	  	        {{demo.notes}}
	             <br>
	  	
              <label>Broom Angle: </label>
	  	        {{demo.broomAngle}}
              <br>
	  
	  	        <label>Mean Max Force: </label>
	  	        {{demo.meanMaximumForce}}
	             <br>
	   
	  	        <label> Mean Sustained Force: </label>
	  	      {{demo.meanSustainedForce}}
	           <br>

	  	      <label> Mean Brushing Force: </label>
	  	      {{demo.meanBrushingForce}}
            <br>

	  	      <label> Mean Stroke Rate: </label>
	  	      {{demo.meanStrokeRate}}
	  	      <br>

            <!--reset button-->
	            <button onclick="reset(inputName)">Reset</button>
	       </div>

        <!--Next part of page-->
	       <hr>
        <h3>Previous Session - 20:41</h3>
    </div>

    <!--Sidebar -->
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>TV Curler 1</p>
      </div>
      <div class="well">
        <p>TV Curler 2</p>
 	    </div>
      <div class="well">
        <p>TV Curler 3</p>
      </div>
      <div class ="images">
      <div class= "logos">
        <img src="/Users/Aisha/devEnviroment/web/src/app/demo-detail/images/logo1.png" alt="Curling Canada Logo" style="width:100px;height:50px;">
      </div>
      <div class= "logos">
        <img src="/Users/Aisha/devEnviroment/web/src/app/demo-detail/images/dal_logo.gif" alt="Dal Logo" style="width:100px;height:50px;">
      </div>
    </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class= "container-fluid text-center">
    <p>Team Brier</p>
  </div>
</footer>

</body>
</html>
